.feed-cont{
    border-radius: 15px;
}

.feed-body{
    background: linear-gradient(45deg, blue, white);
}

.feed-name{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}

.comment{
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.response{
    font-style: italic;
}