.reg-input:hover{
    border: 1px solid blue;
    color: blue;
}

.reg-text{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}

.menu-text{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}

.menu-item-text{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}

.menu-item-text:hover{
    color: gold;
}

.add-user-btn{
    color: #348017;
    border: 1px solid #348017;
    height:30px;
    width:50px;
    margin-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    animation: add-btn-flash 2s ease-in-out infinite;
}

.add-user-btn:hover{
    background-color: #348017;
    color: #FFFFFF;
    animation: none;
}

.menu{
    background-color:'blue';
    border:'1px solid blue';
}

.menu:hover{
    color: gold;
    border: 0;
}

.close{
    border-radius: 5px;
}

.navigation-item{
    color: white;
    border-bottom: 1px;
}

.navigation-div{
    border-bottom: 1px solid rgba(0, 0, 50, 0.8);
    border-radius: 15px;
}

.navigation-div:hover{
    border-bottom: 1px solid gold;
    border-left: 3px solid gold;
    color: gold;
    z-index: 2;
    box-shadow: 1px 2px 4px 0 #4C787E;
    cursor: pointer;
}

.menu-graph-div{
    width: 100%;
    height: 200px;
}